{% if user.is_authenticated%}
<div class="d-flex justify-content-center flex-row add-element-div">
    {% comment %} Add a paragraph {% endcomment %}
    <div id="addParagraph" >
        <div class="square">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#askParagraphModal{{ order }}">Ajouter un paragraphe</button>
        </div>
    </div>
    <div class="divider"></div>
    <button class='btn btn-primary'>Téléverser un fichier</button>
</div>
<!-- Modal -->
<div class="modal fade" id="askParagraphModal{{ order }}" tabindex="-1" aria-labelledby="askParagraphModalLabel" aria-hidden="true" value={{ showForm }}>
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="askParagraphModalLabel">Ajout d'un paragraphe</h5>
                    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
                Veuillez entrer le paragraphe. Vous pourrez le modifier par la suite si nécessaire.
            </div>

            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="add_element_order" value={{ order }}>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Créer</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    // Manage when you need to print an error in the modal. The page loads with the modal opened
    var myModal = new bootstrap.Modal(document.getElementById('askParagraphModal'))
    if (document.getElementById('askParagraphModal').getAttribute("value") == "True"){
        document.getElementById('askParagraphModal').setAttribute("value", "False")
        myModal.show()
    }
</script>
{% endif %}

