<i type="button" class="fas fa-plus-circle fa-lg add-element-plus-button" data-bs-toggle="modal" data-bs-target="#add-element{{ id }}"></i>

    <!-- Add element modal -->
    <div class="modal fade" id="add-element{{ id }}" tabindex="-1" aria-labelledby="addElementModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header" id="addElementModalLabel">
                        <h5 class="modal-title" id="addElementModalLabel">Ajouter un élément</h5>
                        <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body">
                    Quel type d'élément souhaitez-vous ajouter à cette leçon ?
                    <div class="add-element-button-div">
                        <button class="btn btn-primary add-element-button" data-bs-toggle="modal" data-bs-target="#askParagraphModal{{ order }}">Un paragraphe</button>
                        <button class="btn btn-primary add-element-button" data-bs-toggle="modal" data-bs-target="#uploadElementModal{{ order }}">Un fichier</button>
                        <button class="btn btn-primary add-element-button" data-bs-toggle="modal" data-bs-target="#askEvaluationTitleModal{{ order }}">Une évaluation</button>
                    </div>
                </div>
                <div class="modal-footer d-flex">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Paragraph modal -->
    <div class="modal fade" id="askParagraphModal{{ order }}" tabindex="-1" aria-labelledby="askParagraphModalLabel" aria-hidden="true" value={{ showForm }}>
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="askParagraphModalLabel">Ajout d'un paragraphe</h5>
                        <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body">
                    Veuillez entrer le paragraphe. Vous pourrez le modifier par la suite si nécessaire.
                </div>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="add_element_order" value={{ order }}>
                    <div class="modal-footer d-flex justify-content-center modalFooterMargin">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" name="paragraphButton" class="btn btn-primary">Créer</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadElementModal{{ order }}" tabindex="-1" aria-labelledby="uploadElementModal{{ order }}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/import-element/" method="post" id="data" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadElementModal{{ order }}Label">Ajouter un fichier</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                            <input class="form-control" type="file" id="formFileE" name="element" accept=".pdf, .mp3, .mp4, .jpg, .png, .jpeg, .gif">
                            <p class="accepted-formats">Formats acceptés : .pdf, .mp3, .mp4, .jpg, .png, .jpeg, .gif</p>

                            <input type="hidden" id="lessonNb" name="lessonNb" value={{ lesson }}>

                            <input type="hidden" name="add_element_order" value={{ order }}>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <input class="btn btn-primary" id="formFileSubmitE" type="submit" value="Importer">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var inputFileOkay = false;
        var inputTextOkay = false;
        $(document).ready(
        function(){
            $('#formFileSubmitE').attr('disabled',true);
            $('#formFileE').change(
                function(){
                    if ($(this).val()){
                        $('#formFileSubmitE').removeAttr('disabled');
                    }
                    else {
                        $('#formFileSubmitE').attr('disabled',true);
                    }
                });

        });
    </script>

    
    <!-- Evaluation modal -->
    <div class="modal fade createEvaluationModal" id="askEvaluationTitleModal{{ order }}" tabindex="-1" aria-labelledby="askEvaluationTitleModalLabel" aria-hidden="true" value={{ showForm }}>
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="askEvaluationTitleModalLabel">Ajout d'une évaluation</h5>
                        <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body">
                    Veuillez entrer le titre de votre évaluation. Vous pourrez le modifier par la suite si nécessaire.
                </div>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ createEvaluationForm.as_p }}
                    <input type="hidden" name="add_element_order" value={{ order }}>
                    <div class="modal-footer d-flex justify-content-center modalFooterMargin">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" name="evaluationButton" class="btn btn-primary">Créer</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
