{% load static %}
{% load custom_tags %}

<section>
    <hr>
    <h2 id="submitHRTitle">Devoirs rendus</h2>
    <div class="container">
        <div class="row">
            {% for ressource in ressources %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 img-div image">
                    <a data-bs-toggle="modal" data-bs-target="#{{ ressource.slug }}Modal">
                        <img src="{% get_media_prefix %}{{ ressource.path }}" class="img-thumbnail" alt="">
                    </a>
                    {% if ressource.user == user or user.is_superuser %}

                        <button type="submit" id="completed-task" class="fabutton deleteRessource" data-bs-toggle="modal" data-bs-target="#delete{{ressource.id}}">
                            <i class="fas fa-times-circle"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="delete{{ressource.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="/delete-ressource/" method="post" id="data" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-header modal-header-danger">
                                            <h5 class="modal-title" id="deleteModalLabel">Attention !</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            Voulez-vous réellement supprimer le fichier {{ ressource.slug }} ?

                                            <input type="hidden" id="ressourceId" name="ressourceId" value={{ ressource.id }}>
                                            <input type="hidden" id="lessonNb" name="lessonNb" value={{ ressource.lesson }}>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                            <input class="btn btn-danger" id="formDeleteLesson" type="submit" value="Supprimer">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                    <div class="modal fade" id="{{ ressource.slug }}Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        {% if ressource.title != None %}
                                            {{ ressource.title }}
                                        {% else %}
                                            Titre du devoir
                                        {% endif %}
                                        <p class="fs-6">
                                            <a class="user-image">
                                                <i class="fas fa-user-circle"></i> <a class="uploader-username" href="/profile/{{ressource.user}}">{{ ressource.user }}</a>
                                            </a><br>
                                            <span class="date">{{ ressource.date }}<span>
                                        </p>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="{% get_media_prefix %}{{ ressource.path }}" class="img-fluid" alt="">
                                    {% if ressource.user == user or user.is_superuser %}
                                        <button type="submit" id="completed-task" class="fabutton deleteRessource" data-bs-toggle="modal" data-bs-target="#delete{{ressource.id}}">
                                            <i class="fas fa-times-circle"></i>
                                        </button>
                                    {% endif %}
                                    {% if ressource.title != None %}
                                        <p>{{ ressource.description }}</p>
                                    {% else %}
                                        <p>Ma super description</p>
                                    {% endif %}
                                    <div class="image-comments">
                                        <p class="fs-5">Commentaires ({% count_non_hidden_comments ressource.comment_of_ressource.all %})</p>
                                        {% for comment in ressource.comment_of_ressource.all %}
                                            {% if not comment.hidden %}
                                                <div>
                                                    <a class="user-profile" href="/profile/{{ comment.user }}"><i class="fas fa-user-circle"></i><span class="comment-user-profile">{{ comment.user }}</span></a>
                                                    {% if user.is_superuser or comment.user == user %}
                                                        <form action="/delete-comment/" method="post" id="deleteComment" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <input type="hidden" id="commentId" name="commentId" value={{ comment.id }}>
                                                            <input type="hidden" id="lessonNb" name="lessonNb" value={{ ressource.lesson }}>
                                                            <input type="hidden" id="modalId" name="modalId" value="{{ ressource.slug }}Modal">
                                                            <button type="submit" id="completed-task" class="fabutton delete-comment-button-bal">
                                                                <i class="fas fa-times-circle delete-comment-button"></i>
                                                            </button>

                                                        </form>
                                                    {% endif %}
                                                    <p>
                                                        {{ comment.text }}<br>
                                                        <span class="date">{{ comment.date }}<span>
                                                    </p>
                                                </div>
                                                {% if not forloop.last %}
                                                    <hr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    {% if user.is_authenticated %}
                                        <form action="/add-comment/" method="post" id="data" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <div class="form-group">
                                                <label for="comment">Votre commentaire :</label>
                                                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                                            </div>
                                            <input type="hidden" id="ressourceName" name="ressourceName" value={{ ressource.id }}>
                                            <input type="hidden" id="lessonNb" name="lessonNb" value={{ ressource.lesson }}>
                                            <input type="hidden" id="modalId" name="modalId" value="{{ ressource.slug }}Modal">
                                            <input type="hidden" id="commentHidden" name="commentHidden" value="">

                                            <div class="fix-button-pos">
                                                <input class="btn btn-primary" id="comment-submit" type="submit" value="Commenter">
                                            </div>
                                        </form>
                                    {% endif %}

                                    {% if ressource.user == user or user.is_superuser %}
                                        <hr>
                                        <div class="comments-hidden">
                                            <div class="image-comments">
                                                <p class="fs-5">Retour individuel ({% count_hidden_comments ressource.comment_of_ressource.all %})</p>
                                                {% for comment in ressource.comment_of_ressource.all %}
                                                    {% if comment.hidden %}
                                                        <div>
                                                            <a class="user-profile" href="/profile/{{ comment.user }}"><i class="fas fa-user-circle"></i> <span class="comment-user-profile">{{ comment.user }}</span></a>
                                                            {% if user.is_superuser or comment.user == user %}
                                                                <form action="/delete-comment/" method="post" id="deleteComment" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" id="commentId" name="commentId" value={{ comment.id }}>
                                                                    <input type="hidden" id="lessonNb" name="lessonNb" value={{ ressource.lesson }}>
                                                                    <input type="hidden" id="modalId" name="modalId" value="{{ ressource.slug }}Modal">
                                                                    <button type="submit" id="completed-task" class="fabutton delete-comment-button-bal">
                                                                        <i class="fas fa-times-circle"></i>
                                                                    </button>

                                                                </form>
                                                            {% endif %}
                                                            <p>
                                                                {{ comment.text }}<br>
                                                                <span class="date">{{ comment.date }}<span>
                                                            </p>
                                                        </div>
                                                        {% if not forloop.last %}
                                                            <hr>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                            {% if user.is_superuser %}
                                                <form action="/add-comment/" method="post" id="data" enctype="multipart/form-data">
                                                    {% csrf_token %}

                                                    <div class="form-group">
                                                        <label for="comment">Votre évaluation :</label>
                                                        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                                                    </div>
                                                    <input type="hidden" id="ressourceName" name="ressourceName" value={{ ressource.id }}>
                                                    <input type="hidden" id="lessonNb" name="lessonNb" value={{ ressource.lesson }}>
                                                    <input type="hidden" id="modalId" name="modalId" value="{{ ressource.slug }}Modal">
                                                    <input type="hidden" id="commentHidden" name="commentHidden" value="True">
                                                    <div class="fix-button-pos">
                                                        <input class="btn btn-primary clearfi" id="evaluate-submit" type="submit" value="Evaluer">
                                                    </div>
                                                </form>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

</section>

<script>
    $(document).ready(
    function(){
        $('#comment-submit').attr('disabled',true);
        $('#comment').keyup(
            function(){
                if ($(this).val()){
                    $('#comment-submit').removeAttr('disabled');
                }
                else {
                    $('#comment-submit').attr('disabled',true);
                }
            });
            if ({{ modalId }} != '') {
                $('#{{ modalId }}').modal('show')
            }
    });




</script>
