{% load static %}
<section>
    <div class="container">
        <div class="row">
            {% for ressource in ressources %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 img-div">
                    <a data-bs-toggle="modal" data-bs-target="#{{ ressource.slug }}Modal">
                        <img src="{% get_media_prefix %}{{ ressource.path }}" class="img-thumbnail" alt="">
                    </a>

                    <div class="modal fade" id="{{ ressource.slug }}Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        {% if ressource.title != None %}
                                            {{ ressource.title }}
                                        {% else %}
                                            Titre du devoir
                                        {% endif %}
                                        <p class="fs-6">
                                            <a class="user-image">
                                                <i class="fas fa-user-circle"></i> {{ ressource.user }}
                                            </a><br>
                                            <span class="date">{{ ressource.date }}<span>
                                        </p>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="{% get_media_prefix %}{{ ressource.path }}" class="img-fluid" alt="">
                                    {% if ressource.title != None %}
                                        <p>{{ ressource.description }}</p>
                                    {% else %}
                                        <p>Ma super description</p>
                                    {% endif %}
                                    <div class="image-comments">
                                        <p class="fs-5">Commentaires ({{ ressource.comment_of_ressource.all.count }})</p>
                                        {% for comment in ressource.comment_of_ressource.all %}
                                            <div>
                                                <a class="user-profile"><i class="fas fa-user-circle"></i> {{ comment.user }}</a>
                                                <p>
                                                    {{ comment.text }}<br>
                                                    <span class="date">{{ comment.date }}<span>
                                                </p>
                                            </div>
                                            {% if not forloop.last %}
                                                <hr>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <form action="/add-comment/" method="post" id="data" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                        <div class="form-group">
                                            <label for="comment">Votre commentaire :</label>
                                            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                                        </div>
                                        <input type="hidden" id="ressourceName" name="ressourceName" value={{ ressource.id }}>
                                        <input type="hidden" id="lessonNb" name="lessonNb" value={{ lesson }}>

                                        <input class="btn btn-primary" id="comment-submit" type="submit" value="Commenter">
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div> 

</section>

<script>
    $(document).ready(
    function(){
        $('#comment-submit').attr('disabled',true);
        $('#comment').keyup(
            function(){
                if ($(this).val()){
                    $('#comment-submit').removeAttr('disabled'); 
                }
                else {
                    $('#comment-submit').attr('disabled',true);
                }
            });

    });

    
</script>
