{% extends 'base.html' %}
{% include 'footer.html' %}
{% include 'navbar.html'%}
{% block body_content %}
    {% include 'lessons/elements/title.html' with title=title %}
    {% for element in elements %}
        {% if element.type == 'paragraph' %}
            {% include 'lessons/elements/paragraph.html' with text=element.text %}
        {% endif %}
        {% if element.type == 'image' %}
            {% include 'lessons/elements/image.html' with path=element.path %}
        {% endif %}
        {% if element.type == 'audio' %}
            {% include 'lessons/elements/audio.html' with path=element.path %}
        {% endif %}
        {% if element.type == 'video' %}
            {% include 'lessons/elements/video.html' with path=element.path %}
        {% endif %}
        {% if element.type == 'document' %}
            {% include 'lessons/elements/document.html' with path=element.path %}
        {% endif %}
        {% include 'lessons/add_element.html' %}
    {% endfor %}
    {% include 'lessons/image_gallery.html' with lesson=lessonNumber%}
    {% include 'lessons/feedbacks.html' with lesson=lessonNumber%}
{% endblock %}