{% extends 'base.html' %}
{% include 'footer.html' %}
{% include 'navbar.html'%}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/lesson.css">
{% endblock %}
{% block body_content %}
    {% csrf_token %}
    {% include 'lessons/elements/title.html' with title=title id=lessonNumber %}
    {% include 'lessons/add_element.html' with order=0 lesson=lessonNumber %}
    {% for element in elements %}
        {% if element.type.name == 'paragraph' %}
            {% include 'lessons/elements/paragraph.html' with text=element.text id=element.id order=element.order lessonNumber=lessonNumber%}
        {% elif element.type.name == 'image' %}
            {% include 'lessons/elements/image.html' with path=element.path %}
        {% elif element.type.name == 'audio' %}
            {% include 'lessons/elements/audio.html' with path=element.path %}
        {% elif element.type.name == 'video' %}
            {% include 'lessons/elements/video.html' with path=element.path %}
        {% elif element.type.name == 'document' %}
            {% include 'lessons/elements/document.html' with path=element.path %}
        {% endif %}
        {% include 'lessons/add_element.html' with order=element.order lesson=lessonNumber %}
    {% endfor %}
    {% include 'lessons/image_gallery.html' with lesson=lessonNumber %}
    {% if user.is_authenticated %}
        {% include 'lessons/upload_file.html' with lesson=lessonNumber uploaded_file_url=uploaded_file_url upload_success=upload_success %}
    {% endif %}
    {% include 'lessons/feedbacks.html' with lesson=lessonNumber %}
{% endblock %}
