<section>
    <p class="title is-4">Rendre un devoir</p>

    <form action="/import-data/" method="post" id="data" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="form-control" type="file" id="formFile" name="homework" accept=".png, .jpg, .pdf">
        <input type="hidden" id="lessonNb" name="lessonNb" value={{ lesson }}>
        <input class="btn btn-primary" id="formFileSubmit" type="submit" value="Importer">
    </form>

    {% if uploaded_file_url %}
        <p>Fichier importé : <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}
</section>