.title {
    padding-top: 3%;
    padding-bottom: 3%;
}

.paragraph {
    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 3%;
}

.modification {
    background-color: white;
    color: black;
    padding-top: 3%;
    padding-left: 0.5%;
}

.paragraphDiv .modification {
    padding-right: 5%;
    padding-top: 2.5%;
}

.lessonsArea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.square {
    margin:1em;
    overflow:hidden;
    text-align: center;
    border: solid;
    border-color: black;
    height: 15em;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addLesson {
    background-color:#00c010;
}

.fa-plus-circle{
    padding-top: 3.3rem;
    background-color:#00c010;
    border: 0;
}


.createLesson{
    flex-direction: row;
    align-items: end;
    padding-top: 2rem;
}