.fa-times-circle{
    background-color: white;
    color: red;
    border: 0;

}

#deleteModalHeader{
    background-color: #c85a54;
    color: white;
}

.image-width {
    width: 200px;
}

.img-div {
    margin-top: 20px;
}

a {
    cursor: pointer;
}

.user-profile {
    color: grey !important;
    text-decoration: none;
    font-size: 1.1em;
}

.user-image {
    color: black !important;
    text-decoration: none;
    font-size: 1.1em;
}

.date {
    color: grey;
    font-size: 0.8em;
}

.accepted-formats {
    font-size: 0.8em;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
  }

#deleteComment {
    display: inline;
}

.comments-hidden {
    border-radius: 25px;
    background-color: lightgray;
    padding: 10px;
}

.fa-times-circle {
    border-radius: 50%;
}

.delete-comment-button-bal {
    float: right;
}

#evaluate-submit {
    float: right;
}

#comment-submit {
    float: right;
}

.fix-button-pos {
    height:40px;
    margin-top:10px;
}

.image {
    position: relative;
    display: inline-block;
}

.deleteRessource {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
}

.modal-header-danger {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: red;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

 .add-element-button-div {
     margin-top: 1em;
 }

 .add-element-button {
     margin: 0 0.5em;
 }

 .add-element-plus-button {
    margin-left: 0.2em;
 }

 .createEvaluationModal {
     text-align: center;
 }

 .addQuestionForm {
     margin-left: 5%;
 }

 .addQuestionForm p{
    margin-top:1em;
 }

 .questions {
     margin-left: 3%;
 }

 .question {
     margin-bottom: 0.5em;
     font-size: larger;
 }

 .addQuestion{
    margin-top: 1em;
 }

 #deleteButton {
     margin-left: 0.2em;
 }

 .image-div {
    max-width: 40em;
    margin: 1.5em auto 0 auto;
    display: inline-block;
 }

 audio {
    object-fit: contain;
 }

 .audio-div {
    margin: 1.5em auto 0 auto;
 }

 .video-div {
    margin: 1.5em auto 0 auto;
    max-width: 50em;
 }

 video {
    max-width: 100%;
 }

 .document-div {
    margin: 1.5em auto 0 auto;
 }

 .download-ressource, .download-ressource:hover {
    color: var(--bs-body-color);
    margin-left: 0.4em;
 }