.title {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.paragraph {
    padding-top: 3%;
    padding-left: 5%;
}

.modification {
    background-color: white;
    color: black;
    padding-top: 3%;
    padding-left: 0.5%;
}

.paragraphDiv .modification {
    padding-right: 5%;
    padding-top: 2.5%;
}

.divider{
    width: 2em;
    height: auto;
}

#formFileSubmit {
    margin-top: 20px;
}

.add-element-div {
    display: none !important;
}

.paragraphModification:hover + .add-element-div, .element:hover + .add-element-div, .add-element-div:hover{
    display: flex !important;
}

