.body-content{
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2.5%;
}

.password {
    margin-top: 20px;
}

.input-bal {
    margin-top: 5px;
}

button {
    margin-top: 20px;
    float: right;
}