body {
    /*background-color: rgb(238, 238, 238) !important*/
    background-color: #E1F5FE !important;
}

.body-content {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    border-radius: 1rem;
}

.navbar {
    background-color:#64B5F6;
}

.titleDiv {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.paragraphDiv {
    padding: 1.5em 5% 0 5%;
}

.modificationButton {
    margin-left: 0.7em;
}

p {
    margin-bottom: 0 !important;
}

.modificationModal {
    text-align: center;
}

.modificationModalHeader {
    background-color: #c7c7c7;
    color: black;
}

.modalFooterMargin {
    margin-top: 1.5em;
}

.deleteIcon {
    margin-left: 0.4em;
}