body {
    /*background-color: rgb(238, 238, 238) !important*/
    background-color: #E1F5FE !important;
}

.body-content {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    border-radius: 1rem;
}

.navbar {
    background-color:#64B5F6;
}