h2 {
    padding-bottom : 5%;
    padding-top: 5%;
}

form {
    font-size: 200%;
}

.btn {
    margin-top: 0%;
    margin-left: 33%;
    margin-top: 2%;
}

.body-content {
    padding-bottom: 3%;
    padding-left: 2%;
}