{% load static %}
{% load custom_tags %}
<div class="d-flex justify-content-center document-div">
    <i class="fas fa-2x fa-file-pdf"></i>
    <a class="download-ressource" download="" href={% get_media_prefix %}{{ path }}>
        {{ filename }}
    </a>
    {% if user.is_superuser%}
        {% include 'delete.html' with id=id order=order lessonNumber=lessonNumber type="document" %}
        {% include 'lessons/add_element.html' with id=id order=order lessonNumber=lessonNumber %}
    {% endif %}
    {% include 'lessons/download_ressource.html' with path=path %}
</div>