{% load static %}
{% load custom_tags %}

<div class="d-flex justify-content-center video-div">
    <video controls preload=auto>
        <source src="{% get_media_prefix %}{{ path }}" type="audio/mpeg">
    </video>
    {% if user.is_superuser%}
        {% include 'delete.html' with id=id order=order lessonNumber=lessonNumber type="video" %}
        {% include 'lessons/add_element.html' with id=id order=order lessonNumber=lessonNumber %}
    {% endif %}
    {% include 'lessons/download_ressource.html' with path=path %}
</div>