{% extends 'base.html' %}

{% block body_content %}  

    <div class="mp-container container-fluid">
        {% if user.is_authenticated%}
            <div>
                <p class="h1">Modifier votre mot de passe</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Modifier</button>
                </form>
            </div>
        {% else %}
            <div>
                <div>
                    <p class="h1">Modifier votre mot de passe</p>
                </div>
                <p class="text-center">Vous devez être connecté pour modifier votre mot de passe ! <a href="/login">Connexion</a></p>
            </div>
        {% endif %}
    </div>

{% endblock %}