import modifications.js
{% extends 'base.html' %}

{% block body_content %}  

    <!--Register--> 
    <div class="mp-container container-fluid">
        {% if user.is_authenticated%}
            <div>
                <div>
                    <p class="h1">Inscription</p>
                </div>
                <div>
                    <p>Vous êtes déjà inscrit.</p>
                </div>
            </div>
        {% else %}
            <div class="container py-5">
                <h1>Inscription</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">S'inscrire</button>
                </form>
                <p class="text-center">Si vous avez déjà un compte connectez-vous ! <a href="/login">Connexion</a></p>
            </div>
        {% endif %}
    </div>

{% endblock %}