{% extends 'base.html' %}
{% include 'footer.html' %}
{% include 'navbar.html' %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/acceuil.css">
{% endblock %}



{% block body_content %}

    <div class="d-flex justify-content-center titleDiv flex-row">
        <!-- if user.is_authenticated-->
        {% if user.is_superuser %}
        <h1 class="title modifiable">Titre Général</h1>
        <div class="modification">
            <i class="fas fa-edit modificationButton" type="button"></i>
        </div>
        {% else %}
        <h1 class="title">Titre Général</h1>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center flex-row paragraphDiv">
        <p class="paragraph modifiable" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        {% if user.is_superuser%}
        <div class="modification">
            <i class="fas fa-edit modificationButton" type="button"></i>
        </div>
        {% endif %}
    </div>

    <div class="lessonsArea">
        <div class="row lessonsArea-body" id="lessonsArea">
            {% for lesson in lessonList %}
            <div class="col-md-3 col-sm-6 ">
                <a  class="square"> <!--href='/lesson/{{lesson.id}}'-->
                    {% if user.is_superuser%}
                    <!--<button type="button" onclick="location.href='{% url 'delete-lesson' lesson.id %}'; return false" class="fas fa-times-circle fa-lg"> </button>-->
                    <button type="button" class="fas fa-times-circle fa-lg" onclick="return false" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Voulez-vous réellement supprimer cette leçon ?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                    <button type="button" onclick="location.href='{% url 'delete-lesson' lesson.id %}'; return false" class="btn btn-danger">Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div>{{ lesson.title }}</div>
                </a>
            </div>
            {% endfor %}
            <div id="addLesson" class="col-md-3 col-sm-6 ">
                <div class="square">
                    <button type="button" onclick="window.location.href = '/create_lesson';" class="fas fa-plus-circle fa-5x"> </button>
                    <div class="createLesson">Créer une nouvelle leçon</div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}