{% extends 'base.html' %}
{% include 'footer.html' %}
{% include 'navbar.html' %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/acceuil.css">
{% endblock %}


{% block body_content %}
    {% csrf_token %}

    <div class="d-flex justify-content-center titleDiv flex-row">
        <!-- if user.is_authenticated-->
        {% if user.is_superuser %}
        <h1 class="generalTitle title modifiable">{{generalTitle}}</h1>
        <div class="modification">
            <i class="fas fa-edit modificationButton" type="button"></i>
        </div>
        {% else %}
        <h1 class="generalTitle title">{{generalTitle}}</h1>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center flex-row paragraphDiv">

        {% if user.is_superuser%}
        <p class="generalDescription paragraph modifiable modifiableDescription">{{generalDescription}}</p>
        <div class="modification">
            <i class="fas fa-edit modificationButton" type="button"></i>
        </div>
        {% else %}
        <p class="generalDescription paragraph">{{generalDescription}}</p>
        {% endif %}
    </div>

    <div class="lessonsArea">
        <div class="row lessonsArea-body" id="lessonsArea">
            {% for lesson in lessonList %}
            <div class="col-md-3 col-sm-6 ">
                <a href='/lesson/{{lesson.id}}' class="square">
                    {% if user.is_superuser%}
                    <button type="button" class="fas fa-times-circle fa-lg" id="deleteButton" onclick="return false;" data-bs-toggle="modal" data-bs-target="#delete{{lesson.id}}"></button>

                    <!-- Modal -->
                    <div class="modal fade" id="delete{{lesson.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" onclick="return false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                    <div class="modal-header" id="deleteModalHeader">
                                        <h5 class="modal-title" id="deleteModalLabel">Attention !</h5>
                                        <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close" onclick="return false;"></button>
                                    </div>
                                <div class="modal-body">
                                    Voulez-vous réellement supprimer cette leçon ?
                                  </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="return false;">Annuler</button>
                                    <button type="button" onclick="location.href='{% url 'delete-lesson' lesson.id %}'; return false" class="btn btn-danger">Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div>{{ lesson.title }}</div>
                </a>
            </div>
            {% endfor %}
            {% if user.is_superuser%}
            <div id="addLesson" class="col-md-3 col-sm-6 ">
                <div class="square">
                    <button type="button" class="fas fa-plus-circle fa-5x" data-bs-toggle="modal" data-bs-target="#askLessonNameModal"> </button>
                    <!-- Modal -->
                    <div class="modal fade" id="askLessonNameModal" tabindex="-1" aria-labelledby="askLessonNameModalLabel" aria-hidden="true" value={{ showForm }}>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="askLessonNameModalLabel">Création d'une leçon</h5>
                                        <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    Veuillez entrer le nom de la leçon
                                </div>

                                <form action="/" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Créer</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="createLesson">Créer une nouvelle leçon</div>
                </div>
            </div>
            <script>
                var myModal = new bootstrap.Modal(document.getElementById('askLessonNameModal'))
                if (document.getElementById('askLessonNameModal').getAttribute("value") == "True"){
                    document.getElementById('askLessonNameModal').setAttribute("value", "False")
                    myModal.show()
                }
            </script>
            {% endif %}
        </div>
    </div>




{% endblock %}