<div class="d-flex flex-fill navbar-fixed-top">
    <nav class="navbar navbar-light navbar-expand-xl flex-fill justify-content-between">
        <a class="navbar-brand ps-4" href="/">
          <img src="../static/img/home.png" width="40" height="40" alt="logo">
        </a>
        <div class="dropdown justify-content-end">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../static/img/profil.png" width="40" height="40" class="rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                {% if user.is_authenticated%}
                    <li><a class="dropdown-item" href="/profile/{{user.get_username}}">Mon profil</a></li>
                    <li><a class="dropdown-item" href="/change-password">Editer mon mot de passe</a></li>
                    <li><a class="dropdown-item" href="/logout">Se déconnecter</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="/inscription">S'inscrire</a></li>
                    <li><a class="dropdown-item" href="/login">Se connecter</a></li>
                {% endif %}
            </ul>
          </div>
      </nav>
</div>